@model Sparepart.Models.masterrole
    <ul class="fieldlist">

        <li>
            @Html.Label("Nama Role")
            @Html.Kendo().TextBoxFor(m => m.NamaRole).Enable(false).HtmlAttributes(new { style = "width: 100%;", placeholder = "No Ticket", required = "required", validationmessage = "Input No Ticket" })
        </li>

        <li>
            @(Html.Kendo().Grid((IEnumerable<Sparepart.Models.aks>)ViewBag.Akses) //Bind the grid to ViewBag.Products
                 .Name("grid")
                 .Columns(columns =>
                 {
                     columns.ForeignKey(p => p.AksesID, (System.Collections.IEnumerable)ViewData["Menu"], "AksesID", "NamaMenu")
                    .Title("Menu").Width(200);
                 })
                 .Sortable()
                 .Pageable(pageable => pageable
                 .Input(true)
                 .Numeric(true)
                 .PageSizes(true)
                 .Info(true)
                 .PreviousNext(true)
                 .Refresh(true)
                 .ButtonCount(5)
                )
            )
        </li>
    </ul>
    <script>
        $(function () {
            $("#detail").data("kendoWindow").center();
        });
    </script>
