@model Sparepart.Models.CreateUnitViewModel

<form action="/Unit/Unit_Update" method="post" id="EditFrm">
    <ul class="fieldlist">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UnitID)
        <li>
            @Html.Label("Nama Unit")
            @Html.Kendo().TextBoxFor(m => m.NamaUnit).HtmlAttributes(new { style = "width: 100%;", placeholder = "Nama Unit", required = "required", validationmessage = "Input Unit" })
        </li>
        <li>
            <input class="k-button k-primary" name="submitButton" id="btnSave" style="margin-top: 2em; float: left;" value="Save" type="submit">
        </li>
    </ul>
</form>

<script>
    $("#EditFrm").kendoValidator({
        messages: {
            custom: function (input) {
                return $(input).parents().find('label').text();
            }
        },
        rules: {
            custom: function (input) {
                if (input.is("[data-role=dropdownlist]")) {

                    var ddVal = $('input[data-role=dropdownlist]').data('kendoDropDownList').value();
                    if (ddVal !== "" && ddVal !== "label") {
                        return true;
                    } else {
                        return false
                    }
                }
                return true
            }
        }
    });
</script>